<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Viewing a Post')">
    <title>I Need Money</title>
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <div>
        <h1 th:text="${post.title}"></h1>
        <h3 th:text="|By: ${post.user.email}|"></h3>
        <p th:text="${post.body}"></p>
    </div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="partials :: head ('Viewing an Ad')">-->
<!--    <title>Prolonged Fart Noises</title>-->
<!--</head>-->
<!--<body class="main-bg main-container">-->
<!--<nav th:replace="partials :: navbar"></nav>-->
<!--<main class="container">-->
<!--    <h1 th:text="${post.title}"></h1>-->
<!--    <h2>By: <span th:text="${post.user.email}"></span></h2>-->
<!--    <p th:text="${post.body}"></p>-->
<!--    <div th:each="post : ${posts}">-->
<!--        <h6 th:text="${post.title}"></h6>-->
<!--    </div>-->
<!--</main>-->
<!--<footer th:replace="partials :: footer"></footer>-->
<!--<div th:replace="partials :: boot-scripts"></div>-->
<!--</body>-->
<!--</html>-->